/* private classes */
.overflow-hidden{
    overflow: hidden;
}
/* html */
body{
    background-image: url(../images/bg.jpg);
    background-repeat: repeat-y;
    max-width: 1920px;
    width: 100%;
    
}
a{
    color: white;
    font-size: 18px;
}
a:hover{
    color: #FF4600;
}
/* header */
.header.active{
    background-color: black;
    transition: 0.5s ease-in-out;
}
.header{
    transition: 0.5s ease-in-out;
}
header{
    /* es bg colori shesacvlelia da chamoscrollvis dros gashavdeba */
    /* background-color: rgba(0, 0, 0, 0.699); */
    position: fixed;
    /* border-bottom: white 1px solid; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    vertical-align: middle;
    width: 100%;
    padding: 20px 50px;
    z-index: 999;

}
/* navigation */
#navigation-list{
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
#navigation-list li a{
    margin: 20px;
}

ul li{
    padding: 10px 0;
}
/* dropdown */
.dropdown{
    position: relative;
    border-bottom: 10px transparent;
}
.dropdown-content li a{
    color: white;
    font-family: 'BPG Classic Medium';
    line-height: 2;
    font-size: 16px;
}.dropdown-content li a:hover{color:#FF4600 ;}

.dropdown-content{
    display: none;
    border-top: 2px solid #FF4600;
    position: absolute;
    background-color: #2A2A2A;
    border-radius: 5px;
    margin-top: 15px;
    padding: 5px;
    width: 200px;
    
}
/* main-container */
.main-container{
    padding-top: 200px;
    width: 100%;
    
    background-color: white;
    background-image: url(../images/bg.jpg);
}
.main-container .decoration-image{
    position: absolute;
    width: 400px;
    left: 77%;
    top: 51%;
}

/* about georgia section */

.section-about-georgia{
    /* background-image: url(../images/bg.jpg); */
    background-color: black;
    margin: 0 10%;
    margin-top: 200px;
    position: relative; /*for decorative image*/
    padding:150px 0;
    display: flex;
    justify-content: space-around;
}
.about-wine{
    flex-direction: row-reverse;
}
.section-about-georgia .left{
    
    align-items: center;
}
.text {
    font-family: 'BPG Classic Medium';
    color: white;
    line-height: 2;
    margin: 0 auto;
    align-items: center;
}
.text h1{
    font-size: 22px;
    text-align: center;
    margin-bottom: 50px;
    
}
.left .text p{
    width: 500px;
    line-height: 2.5;
    margin-left: 100px;
}
.text h1::after{
    content: '';
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
    height: 1px;
    width: 80px;
    background-color: #FF4600;
}
.text h1::before{
    content: '';
    position: absolute;
    margin-top: 20px;
    margin-left: -110px;
    height: 1px;
    width: 80px;
    background-color: #FF4600;
}
.section-about-georgia button{
    margin-left: 500px;
}
.section-about-georgia .right img{
    width: 270px;
    margin-top: -50px;
    border-radius: 5px;
}
.section-about-georgia .right{
    position: relative; /*for shape*/
}
.section-about-georgia .right .shape{
    width: 0;
    height: 0;
    left: -10%;
    top: -7%;
    border-left: 0px solid white;
    border-bottom: 1px solid white;
    border-right: 0px solid white;
    border-top: 0px solid white;
    position: absolute;
}
.shape-right{
    width: 0;
    height: 0;
    left: 10%;
    top: -7%;
    border-left: 0px solid white;
    border-bottom: 1px solid white;
    border-right: 0px solid white;
    border-top: 0px solid white;
    position: absolute;
}

.section-about-georgia .decoration-image{
    top: 0;
    left: 0;
    position: absolute;
}

/* footer */
footer{
    width: 100%;
    background-color: black;
    padding: 50px 100px;
    position: relative;
}
footer a{
    margin-right: 20px;
}
footer a img{
    opacity: 0.5;
}
a:hover > img{
    opacity: 1;
}
footer h6{
    font-family: 'BPG Classic Medium';
    color: rgb(255, 255, 255);
    line-height: 3;
    font-size: 20px;
}
footer .decoration-image{
    width: 200px;
    position: absolute;
    left: 85%;
    top: 50px;
}

/* about us page */
.about-us-page .text{
    background-color: black;
    border-radius: 5px;
    width: 50%;
    padding: 50px;
}
.about-us-page .text p{
    
    margin: 0 auto;
}
.main-container.about-us{
    padding-bottom: 200px;
    display: flex;
}
.main-container.about-us img{
    width: 200px;
    
}
.main-container.about-us img:first-child{
    position: absolute;
    border-radius: 7px;
    width: 250px;
    position: absolute;
    left: 5%;
    top: 50%;
}
.main-container.about-us img:last-child{
    border-radius: 7px;
    width: 250px;
    position: absolute;
    left: 80%;
    top: 22%;
}

/*  */

@media(max-width:768px){
    .responsive-header-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .logo img{
        width: 170px;
    }
    /* navigation */
    #navigation-list{
        overflow-y: scroll;
        position: absolute;
        padding-bottom: 200px;
        width: 100%;
        top: 70px;
        left: 100%;
        background-color: black;
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: unset;
        /* navigation animation */
        transition:  .5s ease-in-out;
    }
    #navigation-list::-webkit-scrollbar{
        display: none;
    }
    ul li{
        padding: 20px;
    }
    /* navigation act */
    #navigation-list.active{

        left: 0;
    }
    
    .burger{
        position: relative;
        cursor: pointer;
        width: 50px;
        height: 40px;
        margin-top: 3.5%;
        transition: transform .3s linear;

    }
       .burger-divider{
           width: 30px;
           height: 3px;
           background-color: white;
           border-radius: 20px;
           position: absolute;
           transform: translate(-50%, -50%);
           left: 50%;
           transition: transform .3s linear;
       }
       .burger-divider:first-child{
           position: absolute;
           top: 30%;
           transition: width .3s;
       }
       .burger-divider:nth-child(2){
           position: absolute;
           top: 50%;
           transition: width .3s;
       }
       .burger-divider:nth-child(3){
           position: absolute;
           top: 70%;
           transition:width .3s;
       }
       /* ************ burger active ************/
       .burger.active .burger-divider:first-child{
           width: 30px;
           transform: rotate(45deg);
           margin-top: 15px;
           transition:  .3s;
       }
       .burger.active .burger-divider:nth-child(2){
           display: none;
       }
       .burger.active .burger-divider:nth-child(3){
        transform: rotate(-45deg);
        transition:  .3s;
       }
      
}